#!/bin/sh

# An xprofile file, ~/.xprofile and /etc/xprofile, allows you to execute commands
# at the beginning of the X user session - before the window manager is started.
# (ie. this file runs when a DM logs you into a graphical session.)

touchpad-on &		# Natural scrolling and click on tap
setbg &			# Restores current wallpaper
picom -b &		# Compositor
mpDris2 &		# Tracks displayed on bar
dunst &			# Notification daemon
xset -b			# Disable annoying beep
~/.config/polybar/launch.sh &
